<FluentLayout Style="margin-top: 10px;margin-bottom: 1px;">
    <FluentHeader>
        <h3>Time Table Settings</h3>
        <FluentSpacer />
    </FluentHeader>
    <FluentStack Orientation="Orientation.Vertical" Width="100%">
        <h6>No settings found for Time Table.</h6>
    </FluentStack>
    <FluentFooter Style="@("height: 40px; color: black; text-align: center;")">
        Footer
    </FluentFooter>
</FluentLayout>

@code {

}
